/*
		_style.scss	
*/


%img-bg-contain{
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.fuller{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.claf{
	@extend .fuller;
	content: "";
}
@mixin boxes-items( $width: 75, $item: 3, $tag: figure ) {

	$mrow : ( (100 - $width)/($item*2) )+%;

	letter-spacing: -5px;
	*{
		letter-spacing: 0;
	}
	margin-left: -#{$mrow};
	margin-right: -#{$mrow};

	#{$tag}{

		margin-left: $mrow;
		margin-right: $mrow;
		//width: ( ($width/$item)+( $item / ( $item * 10) ) )+%;
		width: ($width/$item)+%;

	}
}

[class*="boxes"]{	
	text-align: center;
	figure{
		*:not([class*="text-right"], [class*="text-left"], [class*="text-center"], [class*="desc-content"], p, span){
			text-align: left;
			//text-align: initial;
			text-align: unset;
		}
	}
	&>div, &>figure{
		display: inline-table;
		vertical-align: top;
		.img-content {
			@include img-auto-adaptive();
		}
	}		
}

.boxes-1{
	@include boxes-items( 100, 1 );
}
.boxes-2{
	@include boxes-items( 90, 2 );
}
.boxes-3{
	@include boxes-items( 90, 3 );
}
.boxes-4{
	@include boxes-items( 90, 4 );
}
.boxes-5{
	@include boxes-items( 90, 5 );
}
.boxes-6{
	@include boxes-items( 90, 6 );
}

@media ( max-width:991px ){
	.boxes-6, .boxes-5, .boxes-4{
		@include boxes-items( 90, 3 );
	}
}
@media ( max-width:767px ){
	.boxes-6, .boxes-5, .boxes-4, .boxes-3{
		@include boxes-items( 90, 2 );
	}
}
@media ( max-width:480px ){
	.boxes-6, .boxes-5, .boxes-4, .boxes-3, .boxes-2{
		@include boxes-items( 100, 1 );
	}
}
.cell-hover{
	opacity: 0;
	padding: 0 5%;
	background-color: rgba($color-1, 0.7);
	@extend .fuller;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
	background-color: rgba(black, 0.5);
	display: flex;
	align-items: center;
}

.hover-content{
	position: relative;
	.cell-hover{
		@extend .fuller;
		display: flex;
		align-items: center;
		pointer-events: none;
		background-color: rgba(black, 0.5);
		color: white;
		opacity: 0;
		transition: all 0.3s ease-in-out;
		padding: 0 5%;
		&>div:not([class]){
			width: 100%;
		}
	}
	&:hover{
		.cell-hover{
			opacity: 1;
		}
	}
}



.btn-res{
	background: transparent;
	border: 0;
	padding: 0;
}


.btn-style{
	display: block;
	@extend .btn-res;	
	white-space: nowrap;
	text-align: center;
	background-color: $color-1;
	border-radius: 4px;
	font-family: $font-family-1;
	a{
		line-height: normal;
		padding: 10px 25px;
		display: block;
		position: relative;
	}
	.fa{
		vertical-align: middle;
	}

}




.btn-def, .btn-icon{
	@extend .btn-style;
	color: white;
	background-color: $color-1;
	transition: all 0.3s ease-in-out;
	&:hover{
		background-color: $color-2;
	}
}


.btn-opacity{
	@extend .btn-style;
	background-color: transparent;
	border-radius: 30px;
	border: 1px solid white;
	color: white;
	transition: all 0.3s ease-in-out;
	a{
		transition: none !important;
	}
	&:hover{
		border-color: $color-1;
		color: $color-1;
	}
}


[data-flicker]{
	&:before{
		@extend .claf;
    opacity: 0.1;
    top: 0;
    transform: scale(1.2);
    left: 0;
		content: attr(data-flicker);
	}
}



.pagination-div{

	.pagination{
		li{
			display: inline-block;
			border-radius: 30px;
			margin: 0 5px;
			font-weight: 500;
			&:hover{
				a{
					color: $color-1;
				}
			}
			a{
				border:1px solid transparent;
				color: black;
				border: 0;
				background-color: transparent;
			}
			&.active{
				background-color: $color-1;
				a{color: white;}
				&:hover{
					a{
						cursor: pointer;
						background-color: transparent;
					}
				}
				a{
					background-color: transparent;
				}
				border:1px solid transparent;
			}
		}
	}
	.float-right{
		position: absolute;
		text-decoration: underline;
    right: 0px;
	}
}







/*
										 --- HEADER ---
*/

$header-top-height: 80px; 
$header-bottom-height: 100px;
$header-min-menu: 100px;
#header{
	top: 0;
	z-index: 110;
	right: 0;
	left: 0;
	//position: absolute;
	position: relative;
	//color: black;
	@media (max-width: 991px){
		position: fixed;
	}
}

.header-hidden{
	//position: relative;
	background-color: $color-1;
	height: $header-min-menu;
	display: none;
	@media ( min-width: 991px ){
		display: none;
	}
}
.header-top-content{
	p, strong{
		line-height: 140%;
	}
}
.header-bottom-content{
	background-color: #333;
	color: white;
}
.logo{
	height: $header-top-height;
	.img-content{
    //position: absolute;
    top: 0px;
	}
	img{
		width: 100%;
		width: 180px;
		max-width: unset;
	}
	font{
		font-size: 1.5em;
	}
	@media ( max-width: 1199px ){
		height: 210px;
	}
}


.header-search{
	//position: relative;
	.bg-wrapper{
		@extend .claf;
		@extend .fuller;
		width: 100% !important;
		background-color: rgba(black, 0.5);
		//pointer-events: none;
		z-index: 1;
		opacity: 0;
		transition: all 0.3s ease-in-out;
		visibility: hidden;
	}
	form{
    position: absolute;
    left: 0;
    top: 50%;
    width: 200px;
    height: 34px;
    margin-top: -17px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-120%);
    transition: all 0.3s ease-in-out;
    input{
    	border-radius: 0;
    	&:focus{
    		border-color: $color-1;
    	}
    }
	}
	.icons-content{
    z-index: 2;
    position: relative;
    &::selection {
	    background: transparent;
		}
    .fa-close{
    	visibility: hidden;
    	opacity: 0;
    }
		.fa{
			transition: all 0.3s ease-in-out;
			color: $color-1;
			font-size: 20px;
		}
	}
	.form-content{
		top: -10px;
		z-index: 2;
		position: relative;
	}
	#search-checkbox{
		display: none;
	}
	#search-checkbox:checked{
		& ~ .bg-wrapper{
			opacity: 1;
			visibility: visible;
		}
		& ~ .icons-content{
			.fa-search{
				transform: translateX(10px);
				visibility: hidden;
				opacity: 0;
			}
			.fa-close{
				opacity: 1;
				transform: translateX(-20px);
				visibility: visible;
			}
		}
		& ~ .form-content form{
			opacity: 1;
			visibility: visible;
		}
	}
}

.soc{
	.fa{
		font-size: 20px;
	}
	li{
		padding: 0 10px;
		transition: all 0.3s ease-in-out;
		&:hover{
			color: $color-1;
		}
	}
}



.menu{
	ul:not([class*="sub-menu"]){
		@extend .letter-none;
		& > li{
			position: relative;
			//border-right: 1px solid rgba(white, 0.3);
			&:last-child{
				border: 0;
			}
			& > a{
				text-align: center;
				display: block;
				padding: 3px 7px;
			}
			&.active, &:hover{
				//background-color: rgba(white, 0.2);
				color: lighten($color-1, 5%);
				.sub-menu-1{
					transform: unset; transform: none;
					opacity: 1;
					visibility: visible;
					li{
						background-color: transparent;
					}
				}
			}

		}
	}
	li{
		display: inline-block;
		transition: all 0.3s ease-in-out;
		font-size: 0.95em;
	}

	.sub-menu-1{
		padding: 3px 5px;
		position: relative;
		background-color: $color-1;
		color: white;
		li{
			text-align: left;
			width: 100%;			
		}
		a{
			display: block;
			transition: all 0.3s ease-in-out;
			padding: 10px 5px;
			white-space: nowrap;
			&:hover{
				text-decoration: underline;
			}
		}
	}

	[class*="sub"]{
		visibility:  hidden;
		position: absolute;
		transition: all 0.3s ease-in-out;
		transform: matrix(1, 0, 0, 1, 0, 10);
		font-size: 0.9em;
		font-weight: 500;
		z-index: 1;
		color: inherit;
		opacity: 0;
		transform-origin: 40% 0;
	}

	.fa{
		position: absolute;
    margin-left: 7px;
		font-size: 18px;
    color: $color-1;
	}



}



// MIN-MENU
.min-menu-header{
	transition: all 0.3s ease-in-out 0.1s;
	opacity: 1;
	width: 100%;
	transform: unset; transform: none;
	position: fixed;
	top: 0;
  height: $header-min-menu;
  padding: 10px 25px;
	z-index: 100;
	color: white;
	box-shadow: 0 0 20px 0 black;
	background-color: darken($color-1, 5%);
	.min-menu-logo{
		padding: 25px 0;
		width: 120px;
	}
	.min-menu-bar{
		padding: 10px 0;
	}
}
.mm-opening{
	.min-menu-header{
		opacity: 0;
		top: -200px;
	}
}

//MMENU
.mm-title{
	font-weight: 900;
	text-transform: uppercase;
	color: rgba(white, 0.8) !important;
}
.mm-menu{	
	background: linear-gradient(to bottom, $color-1, darken($color-1, 30%) );
	color: white;
	border-color: transparent;
}
.mm-navbars-top{
	background: linear-gradient(to top, $color-1, darken($color-1, 30%) );
	border: none;
}
.mm-navbar-size-2{
	height: 80px;
}
.mm-menu.mm-theme-black .mm-navbar a, .mm-menu.mm-theme-black .mm-navbar > *{
	color: white;
}
.mm-menu{
	.icon-bar{
		transform-origin: center;
		margin: -1px;
		&:nth-child(1){
			transform: rotate(45deg);
		}
		&:nth-child(2){
			transform: rotate(-45deg);
		}
	}
}

.mm-navbar{
	position: relative;
	.close-btn{
		position: absolute;
		top: 30px;
		width: 40px;
		right: 20px;
		font-size: 60px;
		opacity: 0.8;
		[class^="icon"]{
			//box-shadow: 0 0 2px black;
		}
	}
	.min-menu-logo{
		img{
			opacity: 1;
			filter: drop-shadow( 0 -5px 1px darken($color-1, 5%) );
			width:110px;
			margin-top: 15px;
		}
	}
}

.mm-slideout{
	transform-origin: top;
	opacity: 1 !important;
	transition: all 0.3s ease-in-out;
}

html.mm-opening .mm-menu.mm-fullscreen.mm-opened ~ .mm-slideout{
	//transform: translateX(100%);
	//visibility: hidden;
	pointer-events: none;
	opacity: 0 !important;
}




.bar{
	width: 60px;
	height: 45px;
	margin-left: auto;
	//margin-right: 25px;
}
.icon-bar{
	width: 100%;
	background-color: white;
	height: 1px;
	position: relative;
	display: block;
	margin: 14px 0;
	&:first-child{
		//margin-top: 14px;
	}
}


















// MODAL
.modal-dialog{
		width: 400px;
   // margin: 50px 50wv;
		@media only screen and (max-width: 991px){
			width: 75%;
			margin: 50px auto;
			margin-top: 25%;
			margin-bottom: 5%;
		}
		@media only screen and (max-width: 767px){
			width: 90%;
			margin: 50px auto;
			margin-top: 25%;
			margin-bottom: 5%;
		}
	.btn{
		background-color: transparent;
		position: relative;
		float: right;
		display: block;
		color: black;
		width: 60px;
		height: 50px;
		right: -5px;
    top: 0;
    z-index: 1;
    border-radius: 0 5px;
  	&:focus, &:active{
  		outline: none;
			box-shadow: none;
		}

	}

	.icon-bar{
		background-color: $color-1;

		display: inline-block;
    height: 2px;
   	&:nth-child(1){
   		transform: rotate(-135deg) translate(0, 4px) scale(0.9);
   	}
   	&:nth-child(2){
   		transform: rotate(135deg) translate(20px, 24px) scale(0.9);
   		
   	}

	}
}


.modal-content{
	background: rgba(white, 1);
	color: black;
}
.modal-body{
	margin-top: 30px;
	@extend .clearfix;
	h1, h2{
		line-height: 20px;
		margin: 0 !important;
	}
}
.modal-footer{
	border: 0;
}
.form-footer{
	margin: 15px 0;
	button{
		padding: 12px 20px;
		margin-left: auto;
		
	}
}




.form-modal{

	h1, h2, h3{
		color: $color-1;
	}

	form{
		margin-top: -20px;
		.textarea{
			display: block;
			margin-top: 10px;
			margin-bottom: 5px;
			color: #333;
			textarea{
				resize: none;
				background-color: #f0f0f0;
				padding: 0.5em;
				border-top: 2px solid $color-1;
				transition: all 0.3s ease-in-out;
				height: 60px;
				&:focus{
					//height: 60px;
				}
			}
			*{
				width: 100%;
				&:focus{
					outline: none;
				}
			}
		}//textarea
	}
	input, textarea{
		border: 1px solid rgba($color-1, 0.5);
		border-radius: 1px;
		width: 100%;
		&:focus{
			border-color: $color-1;
		}
	}
	button{
		background-color: $color-1;
	}

	.modal-content{
		color: $color-1;
		margin-top: 70px;
		background-image: url( "../img/other/texture-1.png" ) ;
		@media only screen and (max-width: 991px){
			width: 100%;
		}
		
		@media only screen and (max-width: 767px){
			width: 100%;
		}


	}
	.modal-body{
		padding: 0 30px;
		@extend .clearfix;
	}

}


.agreementModal{
	.modal-dialog{
		width: 800px;
	}
	.modal-body{
		padding-bottom: 30px;
	}
  .text-content{
  	height: 70vh;
  	overflow: auto;
  	width: 100%;
  }
}





/*
										 ---CONTENT---
*/
h1, h2, h3, h4{
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 150%;
}
h1{
	position: relative;
	text-transform: uppercase;
	font-weight: 600;
	font-size: em(33, 16);
}
h2{
	text-transform: uppercase;
	font-size: em(26, 16);
	margin-top: 20px;
	margin-bottom: 10px;
} 
h3{
	font-size: em(20, 16);
	font-weight: 700;
}
h4{
	font-size: em(18, 16);
	font-weight: 700;
}
h5{
	font-weight: 700;
	font-size: inherit;
}

p{
	font-size: em(16, 16);
}
blockquote{
	padding: 0 15px 0 35px;
	border-left: 8px solid;
	h3{
		font-weight: 700;
		line-height: 100%;
		padding: 0;
		margin: 0;
	}
	p{
		font-weight: 600;
		font-size: 0.8em;
	}
}
#page{
	position: static;
}
main{
	//overflow: hidden;
	position: relative;
	min-height: 300px;
	color: black;
	p{
		line-height: 170%;
	}

}



.main-content{
	z-index: 1;
	position: relative;
	ol, ul{
		text-align: left;
	}
}





//REV SLIDER
.index-slider{

}
.main-slider{
	z-index: 0;
	position: relative;
	background-color: black;
 	//overflow: hidden;
 	& > .container{
 		position: relative;
 	}
 	@media ( max-width:991px ){
 		overflow: hidden;
    position: relative;
 	}
 	.arrows-content{
    height: 100%;
    top: 0;
    position: absolute;
    svg{
    	transform: scale(0.8);
    }
	}
}

.fullscreen-container {
	width:100%;
	position:relative;
	padding:0;
	overflow: hidden !important;
	height: 100%;
	li>img{
		z-index: 2;
	}
	.bg-wrapper{
		@extend .fuller;
		display: none;
		pointer-events: none;
		opacity: 1;
		//transition: all 0.5s ease-in-out;
		//background-size: 100%;
		background-color: rgba(black,0.5);
		z-index: 1;
	}
}


.rev-slider{
	//overflow: hidden;
	background-color: black;
	touch-action: auto !important;
	.container{
		display: block;
	}
	.slide-header{
		width: inherit;
		z-index: 4;
		text-shadow: 0 0 1px black;
		h1, p{
			white-space: normal;
			position: relative;
		}
	
		h1{
			line-height: 140%;
			padding-bottom: 0;
			font-family: $font-family-1;
		}
		h1{
			text-transform: none;
			margin-top: 0;
			margin-bottom: 0;
			padding: 10px 5px;
			font-size: 42px;
			font-weight: 700;
		}
		p{
			color: white;
			font-weight: 400;
			display: inline-block;
			font-size: 14px;
			line-height: 30px;
			padding: 3px;
		}
		.btn-def{
			font-size: 14px;
			margin-top: 30px;
			width: 220px;
		}
	}
	@media (min-width: 992px) {
		h1{
			margin: auto;
		}
		.slide-header{
			width: 30%;
		}
		p{
			//width: 65%;
		}
	}
	@media (max-width: 991px) {
		text-align: center;
		.slide-header{
			left: 0!important;
			top: 120px !important;
		}
		.btn-def{
			margin: 15px auto !important;
		}
		h1, h2{
			text-align: center !important;
			font-size: em(20, 16);
		}
	}
	@media (max-width: 767px){

	}
	&.banner-slider{
		.slide-header{
			width: auto;
		}
	}
}//end

.banner-icons{
	width: 85%;
	.icon-desc{
		width: 75%;
		padding: 0 15px;
	}
}















// GRID IMG PLG
.grid-img {
  //background: #DDD;
}

/* clear fix */
.grid-img:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-img-sizer,
.grid-img-item {
  width: (100/4)+%;
}

.grid-img-item {
  float: left;
}

.grid-img-item img {
  display: block;
  padding: 3px;
  max-width: 100%;
}

































/*
					-------MAIN-------
*/



 



//short-partners
.short-partners{
	overflow: hidden;
	.container{
		//outline: 1px solid;
	}
}
.short-partners-items{
	//@include img-flex-align( center, 110px );
	$width: 130;	
	@include align-fixWidth($width, 7);

	text-align: center;
	@media ( max-width: 1199px ){
		@include align-fixWidth($width, 4, $container-md-value);
	}
	@media ( max-width: 991px ){
		@include align-fixWidth($width, 3, $container-sm-value);
	}
	@media ( max-width: 767px ){
		@include align-fixWidth($width, 7);
	} 


	figure{
		height: 130px;
		margin-top: 30px;
		margin-bottom: 30px;
		border: 2px solid $color-1;
		//outline: 1px solid;
		border-radius: 50%;
		padding: 15px 0;
    transition: all 0.3s ease-in-out;
    &:hover, &:focus{
    	transform: translateY(-5px);
    }
	}

	.img-content{
		margin: auto;
		@extend .img-circle;
		overflow: hidden;
	}
	.img-bg{
		@extend %img-bg-contain;
		margin: auto;
		width: 100px;
		height: 100px;
	}

}





@keyframes zoomAd {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  50%{
  	opacity: 0.5;
  }
  to {
  	transform: scale(1.2);
    opacity: 0;
  }
}

//short-advantage
.short-advantage{
	overflow: hidden;
	.container{
		//outline: 1px solid;
	}
}
.short-advantage-items{
	$width: 180;	
	//@include align-fixWidth($width, 5);
	@include img-flex-align( flex-end, 100px );
	@include img-auto-adaptive();
  
	text-align: center;
	figure{		
		vertical-align: top;
		//outline: 1px solid ;
		border-bottom: 2px solid transparent;
		&, img{
			transition: all 0.3s ease-in-out;
		}
		img{
			width: 75px;
			&:before{
				@extend .claf;
				background-repeat: no-repeat;
				background-position: center;
				overflow: visible;
				background-size: cover;
			}
		}
		&:focus, &:hover{
			//border-color: $color-1;
			.flicker-img{
				img{
					animation: zoomAd 1s ease-out infinite;
				}
			}
		}
	}
	.img-content{
		position: relative;
	}
	.desc-content{
		text-align: center;
	}
	.flicker-img{
		width: 100%;
    position: absolute;
    img{
    	transition: all 0.3s ease-in-out;
    	opacity: 0.1;
    	transform: scale(1.2);
    }
	}
}



//short-sites
.short-sites{
	position: relative;
	overflow: hidden;
	.clearfix{
		position: relative;
	}
	.macbook{
		pointer-events: none;
		width: 64%;
		left: 18%;
    top: 0;
		position: absolute;
		z-index: 1;
		@media (max-width: 1199px) {
			//top: 35px;
		}
	}
	.bg-wrapper{
		@extend .fuller;
		background-color: $color-1;
		clip-path: polygon(100% 0, 0% 100%, 100% 100%);
		pointer-events: none;
		opacity: 1;
		//z-index: -1;
	}
}
.short-carousel-sites{
	//@include align-cells( 80, 5 );
	color: black;
	@include img-flex-align( center, 345px );
	@include img-auto-adaptive();
	.carousel-prev-next{
		span{
			text-shadow: 0 7px 4px rgba(0, 0, 0, 0.5);
		}
	}
	figure{
		width: 50%;
		margin: 30px;
		.img-content{
			box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.5);
			opacity: 0;
			transition: transform 0.2s linear;
		}
		.desc-content{
			width: 100%;
			display: block;
			opacity: 0;
			transform: translateY(10px) scale(1.1);
			
			.btn-def{
				position: absolute;
				border-radius: 0;
				font-size: 1.5em;
				font-weight: 700;
				margin-top: 80px;
				background-color: white;
				color: $color-1;
				padding: 7px 7px;
				box-shadow: 0 0 0px 0px black;
				border-radius: 2px ;
				&:hover{
					background-color: lighten($color-1, 10%);
					box-shadow: 0 0 15px -5px black;
					color: white;
				}
			}
		}
	}
	@media ( max-width:1199px ){
		.img-content{
			min-height: 280px;
		}
	}
	@media ( max-width: 991px ){
		.btn-def{
			padding: 0;
			margin-top: 40px;
			a{
				padding: 5px;
				font-size: 0.6em;
			}
		}
		.img-content{
			min-height: 210px;
			top: -10px;
		}
	}
	@media ( max-width: 767px ){
		.img-content{
			min-height: 100%;
			top: -20px;
		}
	}

	.flickity-viewport{
		overflow: visible;
	}
	.is-selected{
		// &:before{
		// 	@extend .claf;
		// 	z-index: 5;
  //   	width: 10000px !important ;
  //   	left: -5000px  !important;
  //   	top: -300px  !important;
  //   	height: 900px !important;
		// 	//background-color: rgba(black, 0.5);
		// 	background: linear-gradient(to bottom, rgba(black, 0.2), rgba(black, 0.0) );
		// }
		.desc-content{
			opacity:1;
			transition: all 0.4s ease-in-out 0.6s;
			transform: scale(1);
		}
		.img-content{
			position: relative;
			z-index: 6;
			opacity: 1;
		}
	}
	.is-prev, .is-next{
		z-index: 2;
		.img-content{
			opacity:1;
			transition: transform 0.4s linear;
			transform: scale(0.5);
		}
	}
	.is-next{
		.img-content{
			transform: scale(0.5) translateX(-100%);
		}
	}
	.is-prev{
		.img-content{
			transform: scale(0.5) translateX(100%);
		}
	}
	.is-next-2, .is-prev-2{
		.img-content{
			opacity:1;
		}
		transition: transform 0.6s linear;
	}
	.is-next-2{
		.img-content{
			transform: scale(0.2) translateX(-650%);
		}
	}
	.is-prev-2{
		.img-content{
			transform: scale(0.2) translateX(650%);
		}
	}

}















// partner
.partner{

}
.partner-items{
	$width: 180;	
	//@include align-fixWidth($width, 5);
	text-align: center;
	figure{
		@include img-flex-align( center, 150px );
		&, img{
			transition: all 0.3s ease-in-out;
		}
		img{
			width: 110px;
			max-width: auto;
			max-height: auto;
			height: auto;
			margin: 0 auto;
			display: block;
			&:before{
				@extend .claf;
				background-repeat: no-repeat;
				background-position: center;
				overflow: visible;
				background-size: cover;
			}
		}
		&:focus, &:hover{
			.flicker-img{
				img{
					animation: zoomAd 1s ease-out infinite;
				}
			}
		}

	}
	.img-content{
		width: 100px;
		margin: auto;
		height: 110px;
		position: relative;
	}
	.desc-content{
		text-align: center;
	}
	.flicker-img{
		width: 100%;
    position: absolute;
    img{
    	transition: all 0.3s ease-in-out;
    	opacity: 0.1;
    	transform: scale(1.2);
    }
	}
}

//partner-services
.partner-services-items{
	figure{
	}
	.img-content{
		width: 100%;
		//height:220px;
		img{
			transition: all 1.2s cubic-bezier(0.4, 0, 0.2, 1);
		}
		overflow: hidden;
	}
	.hover-content{

		&:hover{
			.cell-cirlce, .cell-hover{
				opacity: 1;
				transform: unset;
			}
			.cell-cirlce.flicker{
				animation: zoomAd 1.5s ease-out infinite;
			}
			.img-content img{
				transform: scale(1.2);
			}
		}
		.cell-hover{
			transition: all 0.6s ease-in-out 0s;
			opacity: 0;
			transform: scale(1.1);
			background-color: rgba($color-1, 0.8);
			background-clip: content-box;
			padding: 13px;
		}
		.cell-cirlce.flicker{
			position: absolute;
			left: 50%;
			margin-left: -40px;
			margin-top: -40px;
			top: 50%;
		}
		.cell-cirlce{
			opacity: 0;
			transition: all 0.3s ease-in-out;
			transform: scale(0.8);
			background-color: black;
			//display: inline-block;
			margin: auto;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			display: flex;
			i{
				font-size: 20px;
				margin-left: 3px;
				width: 100%;
				align-self: center;
			}
		}
	}
}
.partner-services-item{
	.carousel-article{
		//min-height: 400px;
	}
	.text-content{
		height: 390px;
		overflow: auto;
		padding-bottom: 50px;
	}
	.btn-content{
		bottom: 0;
		position: absolute;
	}
}










/*
										 ---FOOTER---
*/


#footer{
	position: relative;
	background-image: url("../img/bg/footer-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	//min-height: 400px;
	p{
		line-height: 170%;
	}

}

.footer-menu{
	li{
		margin: 10px 0;
	}
}

.footer-soc{
	ul{
	  
    text-align: center;
	}
	.fa{
		font-size: 20px;
	}
	li{
		color: rgba(white, 0.5);
		margin: 15px 0;
	}
	@media ( min-width:992px ){
		width: 25px;
	}
	@media ( max-width:991px ){
		li{
			margin: 15px;
			display: inline-block;
		}
	}
}
.footer-contacts{
	text-align: center;
}
.footer-search{
	.form-content{
		display: inline-block;
	}
	form{
		width: 200px;
		&:focus{
			outline: 0;
		}
		.search-input{
			height: 35px;
			input{
				height: 100%;
			}
			.icon-content{
				position: absolute;
				font-size: 20px;
				padding: 5px;
				top: 0;
				right: 0;
			}
		}
		button{
			color: white;
			transition: all 0.225s ease-in-out;
		}
		input{
			color: white;
			border-color: white;
			background-color: transparent;
			&:focus{
				border-color: $color-1;
				& ~ .icon-content button{
					color: $color-1;
				}
			}
		}

	}
}




/*
										 --- OTHER ---
*/



// REV SLIDER
.tparrows{
	background-position: 0 -1px;
	background-image: none !important;
	&.tp-rightarrow{
		transform: rotate(180deg);
	}
	svg{
		//stroke: white;
		//stroke-width: 5px;
		fill: white;
		transition:all 0.3s ease-in-out;
	}
	&:hover{
		svg{
			fill: black;
		}
	}
}













[data-fancybox]{
	display: block;
	position: relative;
	z-index: 1;
	&:focus{
		outline: 0;
	}
}








// FLICKITY 
.carousel-prev-next{
	color: inherit;
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
  *{
  	pointer-events: auto;
  }
	.next, .prev{

		font-size: 45px;
		position: absolute;
		transform: translateY( -50% );
		top: 50%;
		&:hover{
			cursor: pointer;
			color: white;
		}
	}
	.next{
		right: 0;
	}
	.prev{
		left: 0;
	}
	@media ( min-width:991px ){
		.next{
			transform: translateX(30px) translateY( -50% );
		}
		.prev{
			transform: translateX(-30px) translateY( -50% );
		}
	}
}
.flickity-btn-1{

	.flickity-prev-next-button{
		background: transparent;
		//border: 4px solid white;
		transition: all 0.2s ease-in-out;

		&:hover, &:focus{
			background-color: transparent;
		}
		.arrow{
			fill: white;
		}
		&.previous{
		}
		&.next{

		}
	}

}












.carousel-article{
  position: relative;
  z-index: 1;
	.carousel {
	  margin-bottom: 20px;
	}
	.carousel-cell {
	  width: 100%;
	  height: auto;
	  margin-right: 10px;
	  border-radius: 5px;
	}
	img{
		width: 100%;
	}
	.carousel-nav{
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 2px 5px;
		.carousel-cell{
	  	width: 25%;
			height: auto;

	  	margin-right: 10px;
	  	border: 1px solid transparent;
	  	transition: all 0.3s ease-out;
	  	&.is-nav-selected{
	  	 border-color: $color-4;
	  	}
		}
	}
	.flickity-prev-next-button.previous{ left: -10px; }
	.flickity-prev-next-button.next{ right: -10px; }
}















.carousel-stand{
	.carousel {
	  background: #FAFAFA;
	  margin-bottom: 40px;
	}
	.carousel-cell {
	  width: 100%;
	  height: 200px;
	  margin-right: 10px;
	  background: #8C8;
	  border-radius: 5px;
	  counter-increment: carousel-cell;
	  &:before{
		 	display: block;
		  text-align: center;
		  content: counter(carousel-cell);
		  line-height: 200px;
		  font-size: 80px;
		  color: white;
	  }
	}
	.carousel-nav{

		.carousel-cell{
			height: 80px;
	  	width: 100px;
	  	&:before{
				font-size: 50px;
				line-height: 80px;
	  	}
	  	&.is-nav-selected{
	  	 background: #ED2;
	  	}
		}
	}
}















@import "_helper.scss";
@import "_media.scss"; //------ 	END 	------------------------